# Cache files
__pycache__/

# macOS system files
.DS_Store

# Project directories
data/
.venv/
.env


# Environment files and sensitive information
.env
project-b9a39240-863d-4573-9f6-4b8bd5941be7.json
